@charset "utf-8";
html,body,div,h1,h2,h3,h4,h5,em,strong,ul,li,p,ol,span,i,img,form,input,textarea{margin: 0;padding: 0;}
em,strong{font-style: normal;}
ul,li{list-style: none;}
img{vertical-align: middle;}
.fl{float: left;}
.fr{float: right;}
.cl{zoom: 1;}
.cl:after{content: '';display: block;width: 0;height: 0;clear: both;}
form,input,textarea{outline: none;}

html,body{
	min-width: 1200px;
	height: 100%;
	overflow-y: hidden;
}
body{
	background:#E42440 url("../img/bg_body.png") center center repeat-y;
	background-size:50%;
	position: relative;
}
#canvas{
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index:-1;
}

.main-wrap{
	height: 100%;
	overflow: hidden;
	margin: auto;
}
.person-card{
	margin-top: 20px;
	font-size: 26px;
	line-height: 300px;
	height: 300px;
	background-color:rgba(255,255,255,0.5);
	background-position: center center;
	background-size: contain;
	background-repeat:no-repeat;
	border-radius: 4px;
	text-align: center;
	display: none;
}
.person-box{
	width:15%;
	padding:10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.select-box{
	width:70%;
}
.person-title{
	text-align: center;
	font-size: 16px;
	padding: 10px 0;
	font-weight: bold;
	color: #fff;
	text-shadow:1px 1px 1px #00c;
}
.person-head{
	background:rgba(111, 193, 251, 0.5);
	padding: 10px;
	border-radius: 5px;
	position:relative;
}
.person-head:after{
	content: '';
	display: block;
	width: 80px;
	height: 80px;
	position: absolute;
	right:-20px;
	top:-40px;
	z-index: 9;
	background: url("../img/hat.png") center center no-repeat;
	background-size: contain;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}
.person-head img{
	width: 50px;
	border: 2px solid #fff;
	padding: 4px;
	border-radius: 5px;
	background-color:rgba(255,255,255,0.5);
}
.person-head.active{
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f28c2c), to(#9e3802));
	background-image:-webkit-linear-gradient(#f28c2c, #9e3802);
	background-image:-moz-linear-gradient(#f28c2c, #9e3802);
	background-image:-o-linear-gradient(#f28c2c, #9e3802);
	background-image:linear-gradient(#f28c2c, #9e3802);
}
.person-select-wrap{
	padding:4px;
	position: relative;
}
.card-mini{
	padding:0 5%;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	text-shadow:1px 1px 1px #000;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.person-list{
	height: 300px;
	overflow-y:auto;
	overflow-x:hidden;
	border-bottom: 1px solid #8A3131;
}
#mask{
	position: absolute;
	width: 100%;
	height:300px;
	top: 0;
	left: 0;
	background-color:transparent;
	display: none;
	z-index: 99;
}
.select-box{
	margin:50px 0 20px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background:rgba(0,0,0,0.5);
	overflow: hidden;
}
.select-box li{
	width:10%;
	padding:4px;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	cursor:pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition:top 0.5s,left 0.5s;
	-moz-transition:top 0.5s,left 0.5s;
	-ms-transition:top 0.5s,left 0.5s;
	-o-transition:top 0.5s,left 0.5s;
	transition:top 0.5s,left 0.5s;
}

.select-box li.active img{
	border-color:#45B6F9;
	background-color:rgba(255,255,255,0.5);
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-transform:scale(0.9);
	-moz-transform:scale(0.9);
	-ms-transform:scale(0.9);
	-o-transform:scale(0.9);
	transform:scale(0.9);
}
.select-box li img{
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	border-radius: 5px;
	-webkit-transition:width 0.2s,height 0.2s, opacity 0.2s, background-color 0.2s;
	-moz-transition:width 0.2s,height 0.2s, opacity 0.2s, background-color 0.2s;
	-ms-transition:width 0.2s,height 0.2s, opacity 0.2s, background-color 0.2s;
	-o-transition:width 0.2s,height 0.2s, opacity 0.2s, background-color 0.2s;
	transition:width 0.2s,height 0.2s, opacity 0.2s, background-color 0.2s;
}
.select-box li:hover img{
	background-color:rgba(255,255,255,0.5);
}
.box-title{
	text-align: center;
	padding: 8px 0;
	color: #fff;
	background-color:rgba(116,74,158,0.5);
}
.box-title h3{
	line-height:30px;
	padding-left: 8px;
}
.box-title em{
	color: #ff0;
	padding: 0 6px;
}
.info-box{
	width: 90%;
	height: 150px;
	margin:0 auto;
	overflow:auto;
	border-radius: 5px;
	background-color:rgba(51, 41, 44, 0.6);
}
#js_selector{
	position: relative;
}
#stepBtn{
	display: block;
	width: auto;
	min-width: 150px;
	height: 70px;
	border: none;
	margin:5px auto;
	outline: none;
	border-radius:5px;
	color:#fff;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f28c2c), to(#9e3802));
	background-image:-webkit-linear-gradient(#f28c2c, #9e3802);
	background-image:-moz-linear-gradient(#f28c2c, #9e3802);
	background-image:-o-linear-gradient(#f28c2c, #9e3802);
	background-image:linear-gradient(#f28c2c, #9e3802);
	font-size:16px;
	font-weight: bold;
}
#stepBtn:active{
	background-image:-webkit-gradient(linear, 0 100%, 0 0, from(#f28c2c), to(#9e3802));
	background-image:-webkit-linear-gradient(bottom, #f28c2c, #9e3802);
	background-image:-moz-linear-gradient(bottom, #f28c2c, #9e3802);
	background-image:-o-linear-gradient(bottom, #f28c2c, #9e3802);
	background-image:linear-gradient(bottom, #f28c2c, #9e3802);
}
#stepBtn:disabled{
	background-image:none;
	color: #000;
	background-color:rgba(255,255,255,0.8);
}
#searchInput{
	border:none;
	width: 80px;
	height: 30px;
	margin-right: 8px;
	border-radius: 5px;
	padding:0 8px;
	background-color: #000;
	-webkit-transition: width 0.5s ease, background-color 0.4s ease;
	-moz-transition: width 0.5s ease, background-color 0.4s ease;
	-ms-transition: width 0.5s ease, background-color 0.4s ease;
	-o-transition: width 0.5s ease, background-color 0.4s ease;
	transition: width 0.5s ease, background-color 0.4s ease;
}
#searchInput:focus{
	width: 200px;
	background-color: #fff;
}

.info-list{
	padding: 8px;
}

.info-list li{
	background-color:rgba(0,0,0,0.5);
	color: #fff;
	padding: 8px;
	border-bottom: 1px solid #5A90BF;
}
.name{
	color: #ff0;
	font-weight: bold;
	padding:0 5px;
}