@charset "utf-8";
html,body,div,h1,h2,h3,h4,h5,em,strong,ul,li,p,ol,span,i,img,form,input,textarea{margin: 0;padding: 0;}
em,strong{font-style: normal;}
ul,li{list-style: none;}
img{vertical-align: middle;}
.fl{float: left;}
.fr{float: right;}
.cl{zoom: 1;}
.cl:after{content: '';display: block;width: 0;height: 0;clear: both;}
form,input,textarea{outline: none;}

html,body{
	min-height:800px;
	height: 100%;
}
body{
	background-image:-webkit-linear-gradient(bottom,#0e0500 40%,#090504 60%, #000);
	position: relative;
}
#canvas{
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index:-1;
}

.main-wrap{
	width:1400px;
	height: 100%;
	min-height: 800px;
	overflow: hidden;
	margin: auto;
}
.person-card{
	margin-top: 20px;
	font-size: 26px;
	line-height: 200px;
	height: 200px;
	background-color:rgba(255,255,255,0.5);
	border-radius: 4px;
	text-align: center;
	display: none;
}
.person-box{
	width: 200px;
	padding:10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.select-box{
	width: 1000px;
	/*margin:0 20px;*/
}
.person-title{
	text-align: center;
	font-size: 16px;
	padding: 10px 0;
	font-weight: bold;
	color: #fff;
	text-shadow:1px 1px 1px #00c;
}
.person-head{
	background-color:rgba(255,255,255,0.5);
	padding: 10px;
	border-radius: 5px;
	/*margin: 5px 0;*/
}
.person-head img{
	width: 50px;
	border: 2px solid #fff;
	padding: 4px;
	border-radius: 5px;
	background-color:rgba(255,255,255,0.5);
}
.person-head.active{
	background-image:-webkit-linear-gradient(top,#f28c2c, #9e3802);
}
.person-select-wrap{
	padding:4px;
	position: relative;
}
.person-list{
	height: 500px;
	overflow:hidden;
}
#mask{
	position: absolute;
	width: 100%;
	height: 500px;
	top: 0;
	left: 0;
	background-color:transparent;
	display: none;
}
.select-box{
	margin:50px 0 20px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color:rgba(0,0,0,0.5);
	border: 1px solid #0cc;
}
.select-box li{
	width: 66px;
	height: 66px;
	padding: 4px;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	cursor:pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition:top 0.5s,left 0.5s;
	-moz-transition:top 0.5s,left 0.5s;
	-ms-transition:top 0.5s,left 0.5s;
	-o-transition:top 0.5s,left 0.5s;
	transition:top 0.5s,left 0.5s;
}

.select-box li.active img{
	border-color:#45B6F9;
}
.select-box li img{
	width: 100%;
	border: 2px solid #fff;
	border-radius: 5px;
	-webkit-transition:width 0.2s,height 0.2s, opacity 0.2s;
	-moz-transition:width 0.2s,height 0.2s, opacity 0.2s;
	-ms-transition:width 0.2s,height 0.2s, opacity 0.2s;
	-o-transition:width 0.2s,height 0.2s, opacity 0.2s;
	transition:width 0.2s,height 0.2s, opacity 0.2s;
}
.select-box li:hover img{
	background-color:rgba(255,255,255,0.5);
}
.box-title{
	text-align: center;
	padding: 8px 0;
	color: #fff;
	background-color:rgba(255,255,255,0.5);
}
.box-title h3{
	line-height:30px;
	padding-left: 8px;
}
.box-title em{
	color: #ff0;
	padding: 0 6px;
}
.info-box{
	width: 90%;
	height: 200px;
	margin:0 auto;
	overflow:auto;
	border-radius: 5px;
	background-color:#7F7F7F;
	box-shadow:4px 4px 4px #000 inset;
}
#js_selector{
	position: relative;
}
#stepBtn{
	display: block;
	width: 150px;
	height: 70px;
	border: none;
	margin: auto;
	outline: none;
	border-radius: 5px 5px 0 0;
	color:#fff;
	background-image:-webkit-linear-gradient(top,#f28c2c, #9e3802);
	font-size:16px;
	font-weight: bold;
}
#stepBtn:active{
	background-image:-webkit-linear-gradient(bottom,#f28c2c, #9e3802);
}
#stepBtn:disabled{
	background-image:none;
	background-color: #ccc;
}
#searchInput{
	border:1px solid #ccc;
	width: 80px;
	height: 30px;
	margin-right: 8px;
	border-radius: 5px;
	padding:0 8px;
	-webkit-transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	-ms-transition: width 0.5s ease;
	-o-transition: width 0.5s ease;
	transition: width 0.5s ease;
}
#searchInput:focus{
	width: 200px;
}

.info-list{
	padding: 8px;
}

.info-list li{
	background-color:rgba(0,0,0,0.5);
	color: #fff;
	padding: 8px;
	border-bottom: 1px solid #ccc;
}
.name{
	color: #ff0;
	font-weight: bold;
	padding:0 5px;
}